<div data-role="view" data-title="Inicio" data-layout="main" data-model="APP.models.home">
    <!--<h1 data-bind="html: title"></h1>-->
    <h2>
        Con esta App poderás consultar tódolos bares que participan na edición 2014 do Tapicheo en Sarria.
    </h2>
    <h3>
        Pulsando en [Inicio] volverás a esta pantalla.
    </h3>
    <h3>
        Pulsando en [Bares] poderás ve-los bares localizados nun mapa. Premendo neles, poderás consulta-lo seu horario, tapas e prezo.
    </h3>
    <h3>
        Pulsando en [Rutas] poderás ve-las distintas rutas do concurso.
    </h3>
</div>